html,body{
    /*height:100%;
    width:100%;
    margin:0;*/
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*permet de retirer le zoom qui est sur l'image*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
body {
    display:flex;
}
form{
    text-align: center; 
    background-color: rgb(119, 182, 224,0.6);
    margin:auto; 
    border-radius: 15px;
    font-size: 20px;
}
.scrat{
    margin-left: 50px; 
    margin-right:50px;
    color: white;
}
.data{
    padding: 10px;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    color: white;
}
.validation{
    background-color: rgb(49, 144, 207);
    color: white;
    border-radius: 15px;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
#file{
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}
.icon{
    width: 30%;
}